name: build and release

on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-iso
  cancel-in-progress: true

jobs:
  build-iso:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@v14
    - uses: DeterminateSystems/magic-nix-cache-action@v8
    - name: build ISO
      run: |
        nix build .#iso --accept-flake-config
        mkdir iso || true
        ISO=$(head -n1 result/nix-support/hydra-build-products | cut -d'/' -f6)
        sudo ln "result/iso/${ISO}" iso/nyx.iso
        sha256sum "iso/nyx.iso" > "iso/nyx.iso.sha256"
        sed -i -r "s/ .*\/(.+)/  \1/g" "iso/nyx.iso.sha256"
        ls -la iso
    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/v')
      with:
          files: "iso/*"
